/.sfdx
/.sf
/.vscode
/.forceignore
/.idea
/coverage
/out
node_modules/*
IlluminatedCloud
.localdevserver
.prettierignore
.prettierrc
.eslintrc.json
*.ipr
*.iws
*.iml
*.lnk
jsconfig.json
package-lock.json
project-scratch-def.json
